.nav-container {
	background-color: $matte-black;
	color: $bright-gold !important;

	.navbar-brand {
		color: $bright-gold;
	}
	.nav-items {
		float: right;
		li>a {
			color: $bright-gold !important;
			}
		}

	.active>a {
		background-color: $bright-gold !important;
		color: $matte-black !important;
	}
}